<!-- ----------------------------Geolocations table----------------------------------->
<mat-card class="mat-elevation-z8">

  <div fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
          <div class="full-wid mrgn-b-lg">
              <button mat-raised-button (click)="openModal(null)">
                  <mat-icon color="accent">add</mat-icon>Nuevo
              </button>
          </div>
      </div>
      <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
          <mat-form-field class="full-wid mrgn-b-lg">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar ...">
          </mat-form-field>
      </div>
  </div>

  <div class="table-responsive">
      <div *ngIf="isLoaded">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          <!-- <mat-progress-bar mode="buffer"></mat-progress-bar> -->
      </div>
      <table class="table table-hover table-middle th-fw-light mb-0" mat-table [dataSource]="dataSource"
          matSort class="mat-elevation-z8">

          <!-- ID Column -->
          <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nro </th>
              <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
          </ng-container>

          <!-- CODE Column -->
          <ng-container matColumnDef="titulo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </th>
              <td mat-cell *matCellDef="let element">
                  <!--                     <mat-form-field floatLabel="never">
                      <mat-select [(value)]="selected">
                          <mat-option value='selected'>{{selected}}</mat-option>
                          <mat-option *ngFor="let center of centers" value="center.WERKS">{{center.WERKS}}</mat-option>
                      </mat-select>
                  </mat-form-field> -->
                  {{element.titulo}}
              </td>
          </ng-container>

          <!-- DESCRIPTION Column -->
          <ng-container matColumnDef="autor">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Autor </th>
              <td mat-cell *matCellDef="let element">
                  <!-- <mat-form-field floatLabel="never">
                      <input matInput placeholder="DESCRIPTION" [value]="element.DESCRIPTION" [(ngModel)]="element.DESCRIPTION">
                  </mat-form-field> -->
                  {{element.autor}}
              </td>
          </ng-container>
        
          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> estado </th>
            <td mat-cell *matCellDef="let element">
                <!-- <mat-form-field floatLabel="never">
                    <input matInput placeholder="DESCRIPTION" [value]="element.DESCRIPTION" [(ngModel)]="element.DESCRIPTION">
                </mat-form-field> -->
                {{element.estado}}
            </td>
        </ng-container>


          <!-- Change Column -->
          <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element">
                  <!--                     <button mat-raised-button (click)="editGeolocation(element)">
                      <mat-icon color="accent">edit</mat-icon>
                  </button> -->
                  <!-- <mat-icon color="accent" (click)="onPreUpdateGeolocation(element)">edit</mat-icon> -->
                  <button mat-icon-button color="accent" (click)="openModal(element)">
                      <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" (click)="onDelete(element)">
                      <mat-icon>delete_outline</mat-icon>
                  </button>
              </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </div>

  <mat-paginator [pageSize]="100" [pageSizeOptions]="[100, 200, 300, 400]" showFirstLastButtons></mat-paginator>

</mat-card>