
<div fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
        <div class="full-wid mrgn-b-lg">
            <h3 class="modal-title" id="exampleModalLabel">{{!this.id ? 'Nuevo' :
                'Editar'}}</h3>
        </div>
    </div>
    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49" >
        <button mat-icon-button color="warn" (click)="onClose()" tabIndex="-1">
            <mat-icon>clear</mat-icon>
        </button>
    </div>
</div>
<form  [formGroup]="form">
  <div fxLayout="column">

      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">

              <mat-form-field class="full-wid mrgn-b-lg ">
                  <input type="text " matInput formControlName="codigo" class="form-control"
                       placeholder="Codigo" required>
              </mat-form-field>
          </div>
          <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
              <mat-form-field class="full-wid mrgn-b-lg ">
                  <input type="text " matInput formControlName="titulo" class="form-control"
                       placeholder="Titulo" required>
              </mat-form-field>
          </div>
      </div>

       <div fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">

            <mat-form-field class="full-wid mrgn-b-lg ">
              <input type="text " matInput formControlName="autor" class="form-control"
                   placeholder="Autor" required>
          </mat-form-field>
          </div>
          <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
            <mat-form-field class="full-wid mrgn-b-lg ">
              <input type="text " matInput formControlName="direccion" class="form-control"
                   placeholder="Dirección" required>
          </mat-form-field>
          </div>
          <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
            <mat-form-field class="full-wid mrgn-b-lg ">
              <input type="text " matInput formControlName="estado" class="form-control"
                   placeholder="Estado" required>
          </mat-form-field>
          </div>
      </div>
      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
        <button class="btn-dialog-close" mat-raised-button (click)="onClose()" tabIndex="-1">
          <mat-icon color="accent"></mat-icon>Cancelar
      </button>
      <button color="accent" mat-button mat-raised-button [disabled]="!form.valid" (click)="onSubmit(form.value)" >Guardar
      </button>
      </div>
  </div>
</form>
